<?php foreach (BackendAuth::user()->pinned_pages as $page): ?>
<?php $url = Backend::url(e($page->path)) ?>

<li class="mainmenu-item"
    data-pinned-page="<?= e($page->path) ?>"
    style="display: flex; justify-content: space-between">
    <a href="<?= $url ?>" style="width: 100%;">
        <span class="nav-icon">
            <i class="<?= e($page->icon) ?>"></i>
        </span>
        <span class="nav-label">
            <?= e($page->label) ?>
        </span>
    </a>
    <a href="#"
       data-tooltip-text="Unpin page"
       data-request="onPinPageRemove"
       data-request-data="path: '<?= e($page->path) ?>'"
       data-request-success="
       $(this).closest('ul').find('[data-current-pin=\''+data.result+'\']').slideDown();
       $(this).closest('ul').find('[data-current-unpin=\''+data.result+'\']').slideUp();
       $(this).closest('ul').find('[data-current-pin-status=\''+data.result+'\']').removeClass('active');
       $(this).closest('li').remove();
       $('[data-current-pin-status=\'<?= e($page->path) ?>\']').removeClass('active');"
       class="temp"
       style="padding: 0 10px 0; background: transparent !important;">
        <span class="nav-icon" style="display: block; position:unset;text-align: center">
            <i class="icon-thumb-tack temp" style="transform: rotate(90deg)"></i>
        </span>
    </a>
</li>
<?php endforeach ?>

