<template id="mainmenu-items-extension">
    <li class="mainmenu-item mainmenu-preview mainmenu-pinned has-subitems active" data-submenu-index="pinned">
        <a
            href="javascript:;"
        <?php if (!isset($isVerticalMenu)): ?>
        data-tooltip-text="Pinned pages"
        <?php endif ?>
        >
        <span class="nav-icon">
            <i class="icon-thumb-tack rotate-45"></i>
        </span>

        <?php if (isset($isVerticalMenu)): ?>
        <span class="nav-label">
            <?= e(trans('backend::lang.tooltips.preview_website')) ?>
        </span>
        <?php endif ?>
        </a>
    </li>
</template>

<template id="mainmenu-submenu-dropdowns">
    <ul class="mainmenu-items mainmenu-submenu-dropdown hover-effects js-pinned-pages" data-submenu-index="pinned">

        <?= $this->makeLayoutPartial('~/plugins/kpolicar/backendmenupinnedpages/layouts/_mainmenu_pinned_items') ?>
    </ul>
</template>
