<style>
    .temp:hover {
        color: #6A6CF7;
    }
    .temp {
        transition: 0.1s !important;
    }
</style>

<li class="mainmenu-item">
    <a href="#" data-request="onPinPage">
        <span class="nav-icon">
            <i class="icon-thumb-tack"></i>
        </span>
        <span class="nav-label">
            Pin this page
        </span>
    </a>
</li>

<li class="mainmenu-item section-title">
    <span class="nav-label">Pinned Pages</span>
</li>

<?php foreach (BackendAuth::user()->pinned_pages as $page): ?>
<?php $url = Backend::url(e($page->path)) ?>

<li class="mainmenu-item" style="display: flex; justify-content: space-between">
    <a href="<?= $url ?>" style="width: 100%;">
        <span class="nav-icon">
            <i class="<?= e($page->icon) ?>"></i>
        </span>
        <span class="nav-label">
            <?= e($page->label) ?>
        </span>
    </a>
    <a href="#"
       data-request="onPinPageRemove"
       data-request-data="path: '<?= e($page->path) ?>'"
       data-request-success="$(this.parentNode).slideUp(200);"
       class="temp"
       style="padding: 0 10px 0; background: transparent !important;">
        <span class="nav-icon" style="display: block; position:unset;text-align: center">
            <i class="icon-thumb-tack temp" style="transform: rotate(90deg)"></i>
        </span>
    </a>
</li>
<?php endforeach ?>

